<!DOCTYPE html>
<html>

<head>
	<title>Library</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/libStyle.css')}}">
	<script type="text/javascript" src="{{ url_for('static', filename='script/lib.js') }}"></script>
</head>

<body>
	<div class="page">
		<a href="search">
			<input class="c1" type="button" name="Search" id="Search" value="Add New Movies" />
		</a>
		<input class="c2" type="button" name="RemoveMovies" id="RemoveMovies" value="Remove Selected Movies"
			onclick="removeContent()" />
		<ul id="list"></ul>
	</div>
	<table>
		<thead class="t1">
			<tr>
				<th>Select</th>
				<th>ID</th>
				<th>Title</th>
				<th>Release Date</th>
				<th>Overview</th>
			</tr>
		</thead>
		<tbody>
			{% for movie in movies %}
			<tr>
				<td><input type="checkbox" name="selected_movies[]" value="{{ movie.ID }}"></td>
				<td>{{ movie.ID }}</td>
				<td>{{ movie.Title }}</td>
				<td>{{ movie.Release_date }}</td>
				<td>{{ movie.Overview }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</body>

</html>